<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
	             <rule name="rule1" stopProcessing="true">
                     <match url="^post-([0-9]+).html" />
                     <action type="Rewrite" url="index.asp?act=pl&amp;id={R:1}" />
                </rule>
                <rule name="rule2" stopProcessing="true">
                    <match url="^tags/([0-9]+)" />
                    <action type="Rewrite" url="tags.php?tags={R:1}" />
                </rule>
				<rule name="rule3" stopProcessing="true">
                    <match url="^comment-([0-9]+).html" />
                    <action type="Rewrite" url="index.asp?act=plist&amp;page={R:1}" />
                </rule>
				 <rule name="rule4" stopProcessing="true">
                     <match url="^index-([0-9]+).html" />
                     <action type="Rewrite" url="index.asp?page={R:1}" />
                </rule>
				<rule name="rule5" stopProcessing="true">
                     <match url="^index.html" />
                     <action type="Rewrite" url="index.asp" />
                </rule>
				<rule name="rule6" stopProcessing="true">
                     <match url="^comment.html" />
                     <action type="Rewrite" url="index.asp?act=plist" />
                </rule>
            </rules>
        </rewrite>
	 <httpErrors errorMode="Detailed">
      <!--跳转 404 页面-->
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/HttpErrors/404.htm" prefixLanguageFilePath="" responseMode="ExecuteURL" />
    </httpErrors>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer> 	
</configuration>
